html{
    scroll-behavior: smooth;
 }

.app { 
    width: 100%;
    padding: 20px;
    position: relative;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Montserrat;
}

.cl1 {
    width: 8.33%;
}

.cl2 {
    width: 16.66%;
}

.cl3 {
    width: 25%;
}

.cl4 {
    width: 33.33%;
}

.cl6 {
    width: 50%;
}

.cl12 {
    width: 100%;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.github-link {
    width: 40px;
    height: 40px;
}

.header-left, .header-right{
    font-size: 28px;
    line-height: 34px;
    vertical-align: baseline;
}

.app-navigation > ul {
    display: flex;
    list-style-type: none;
}

.app-navigation > ul > li > a {
    color: white;
    text-decoration: none;
}

.app-navigation > ul > li + li {
    margin-left: 15px;
}
/* отсюда можно исправлять))) */
.about-part {
    font-family: Montserrat;
    padding: 240px;
}

.heading {
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.about-text {

    margin-top: 5%;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    align-items: flex-end;
}

.theme-for-blocks {
    position: relative;
    width: 1000px;
    height: 500px;

    background: rgba(255, 255, 255, 0.08);
}

.line {
    text-align: center;
    position: relative;
    margin-top: 20px;
    width: 90%;
    left: 45px;
    height: 0px;
    border: 2px solid #FFEB37;
}

.little-line {
    text-align: center;
    position: relative;
    margin-top: 20px;
    width: 40%;
    left: 30%;
    height: 0px;
    border: 2px solid #FFEB37;
}

.skills {
    font-family: Montserrat;
    padding: 240px;
    text-align: center;
}

.contacts {
    font-family: Montserrat;
    padding: 240px;
    text-align: center;
}

.contacts > .about-text >  .contacts-block > ul {
    list-style-type: none;
    text-align: left;
    font-size: 40px;
}

.contacts > .about-text >  .contacts-block > ul > li + li {
    margin-top: 5%;
}

.contacts > .about-text >  .contacts-block > ul > li > a {
    color: white;
}

.bio {
    margin-top: 5%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 61px;

    color: #FFFFFF;
}

.theme-switcher {
    size: 40px;
}
/*skills tree */
.skill-tree {
    position: relative;
}

.svg-dark {
    margin-top: 10%;
    margin-bottom: 5%;
}

.tree-pic {
    text-emphasis: center;
    position: relative;
    margin-top: 10%;
}
/* Python info in skills tree */
.python-info {
    position: absolute;
    margin-top: 40%;
    left: -10%;
    max-width: 400px;
    word-break:break-word;
}

.python-info > ul {
    list-style-type: none;
    text-align: left;
}

.python-info > ul > li {
    font-size: 20px;
    margin-top: 5%;
}
/* GIT info in skills tree */
.git-info {
    position: absolute;
    margin-top: 76%;
    left: 60%;
    max-width: 400px;
    word-break:break-word;
}

.git-info > ul {
    list-style-type: none;
    text-align: left;
}

.git-info > ul > li {
    font-size: 20px;
    margin-top: 5%;
}
/* Java info in skills tree */
.java-info {
    position: absolute;
    margin-top: 110%;
    left: -10%;
    max-width: 400px;
    word-break:break-word;
}

.java-info > ul {
    list-style-type: none;
    text-align: left;
}

.java-info > ul > li {
    font-size: 20px;
    margin-top: 5%;
}
/* Javascript info in skills tree */
.javascript-info {
    position: absolute;
    margin-top: 142%;
    left: 60%;
    max-width: 400px;
    word-break:break-word;
}

.javascript-info > ul {
    list-style-type: none;
    text-align: left;
}

.javascript-info > ul > li {
    font-size: 20px;
    margin-top: 5%;
}
/* Last info in skills tree */
.last-info {
    position: absolute;
    margin-top: 175.5%;
    left: -10%;
    max-width: 400px;
    word-break:break-word;
}

.last-info > ul {
    list-style-type: none;
    text-align: left;
}

.last-info > ul > li {
    font-size: 20px;
    margin-top: 5%;
}

.vk {
    color: #0077FF;
}

.hh {
    color: rgba(255, 97, 97, 0.658);
}

.dark-theme .light-logo {
    display: none
  }
  
  .light-theme .dark-logo {
   display: none
  }