.app.light-theme {
    background-color: white;
    color: black;
}

.app.light-theme .github-link {
    background-color: white;
    border-radius: 100%;
}

.light-theme .app-navigation > ul > li > a {
    color: black;
    text-decoration: none;
}

.light-theme .contacts > .about-text >  .contacts-block > ul > li > a {
    color: black;
}

.light-theme .bio {
    color: black;
}

.light-theme .tree-pic > path{
    fill: white;
}

.light-theme .yellow-text {
    color: #ffc506;
    font-weight: bold;
}

.light-theme .git-info > ul > li > a {
    color: #ffc506;
}

.light-theme .theme-switcher-img-light {
    display: unset;
}

.light-theme .block-info.blockleft div:nth-child(1) {
    border-right: 0.3rem solid black;
}

.light-theme .block-info.blockright div:nth-child(2) {
    box-shadow: -0.3rem 0 0 black;
}